*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #000;
    display: grid;
    place-content: center;
    height: 100vh;
}
.caculator{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px 10px;
    background: #2b2b2b;
    border-radius: 10px;
    padding: 20px;
}
.caculator .result{
    color: #fff;
    grid-column: 1 / -1;    
}
button[span-2]{
    grid-column: span 2;
}
button{
    transition: all .3s linear;
    cursor: pointer;
    padding: 20px 15px;
    border-radius: 100px;
    font-size: 1.5rem;
    background: #909090;
    border: none;
}
button:hover{
    background: #b6b3b3;
}
.result div:first-child{
    font-size: 35px;
    font-weight: 500;
}
.result div:last-child{
    font-size: 60px;
    font-weight: 600;
}
.result{
    background: #000;
    border-radius: 10px;
    padding: 10px 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    gap: 10px;
}
@media (max-width: 500px){
    body{
        place-content: end;
    }
    .caculator{
        width: 100vw;
        padding: 10px 20px;
    }
}